
input[type="range"].tom {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: 150px;
  background: #efafda;
  height: 8px;
  border-radius: 8px;
}

input[type="range"].tom::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #4cabe2;
  border-radius: 50%;
}

input[type="range"].tom::-moz-range-thumb {
  border: none;
  height: 20px;
  width: 20px;
  background-color: #4cabe2;
  border-radius: 50%;
}

input[type="range"].tom::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 7px rgba(0, 30, 255, 0.1);
}
input[type="range"].tom::-moz-range-thumb:hover {
  box-shadow: 0 0 0 7px rgba(0, 30, 255, 0.1);
}

input[type="range"].tom:active::-webkit-slider-thumb,
input[type="range"].tom:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba(0, 30, 255, 0.2);
}
input[type="range"].tom:active::-moz-range-thumb,
input[type="range"].tom:focus::-moz-range-thumb {
  box-shadow: 0 0 0 10px rgba(0, 30, 255, 0.2);
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
    max-width: 800px;
    font-size: 90%;
}
.label {
    width: 40%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}
.label2 {
    width: 50%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}
.tom {
    width: 200px;
}
.num-input {
    width: 90px;
    margin: 0 5px;
}
.input-wrapper {
    display: flex;
    align-items: center;
    width: 60%;
}

input[type="color"].tom {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  width: 80px;
  background: #efafda;
  height: 36px;
  border-radius: 8px;
  vertical-align: middle;
}

.hiddenFirst {
  display: none;
}

